.btn-link {
	padding: 8px 20px;
	color: $white;
	background-color: $orange;
	text-transform: uppercase;
	text-decoration: none;
	transition: .2s all;
	&:hover,
	&:active,
	&:focus {
		background-color: darken($orange, 10%);
		color: $white;
		text-decoration: none;
		outline: none;
		transition: .2s all;
	}
	&[disabled] {
		background-color: $orange;
		color: $grey;
		cursor: not-allowed;
	}
}