$red: red;
$green: green;
$blue: blue;
$yellow: yellow;
$orange: orange;
$purple: purple;
$cyan: cyan;

.bg--color-red {
	background-color: $red;
}
.bg--color-green {
	background-color: $green;
}
.bg--color-blue {
	background-color: $blue;
}
.bg--color-yellow {
	background-color: $yellow;
}
.bg--color-orange {
	background-color: $orange;
}
.bg--color-purple {
	background-color: $purple;
}
.bg--color-cyan {
	background-color: $cyan;
}