.carousel-indicators {
	li {
		width: 13px;
		height: 13px;
		margin: 0 5px 0;
		border: 2px solid #fff;
	}
	.active {
		margin: 0 5px 0;
		width: 13px;
		height: 13px;
	}
}
.carousel-inner{
	max-height: 600px;
	img {
		width: 100%;
		object-fit: cover;

	}
	.carousel-caption {
		right: initial;
		left: 60px;
		top: 150px;
		bottom: initial;
		text-align: initial;
		text-shadow: none;
		background-color: rgba(0,0,0,.6);
		padding: 20px 60px 30px;
		max-width: 500px;
		h1 {
			@include global-font(66px, 1, 400);
		}
		p {
			@include global-font(24px, 1, 400);
			padding-bottom: 30px; 
		}
	}
}
.carousel-control {
	width: 5%;
	&:hover {
		cursor: pointer;
	}
}