<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 product-item-wrap">
  <a [routerLink]="['product', productId]">
    <div class="product-item">
      <rating class="rating" rate="" max="5" readonly="true"></rating>
      <img src="{{ product.imagePath[0] }}" alt="">
      <h4>{{ product.name }}</h4>
      <p class="teaser-text">{{ product.teaser }}</p>
      <div class="product-extra">
        <span class="price">$ {{ product.price }}</span>
      </div>
    </div>
  </a>
  <a class="btn-link" [routerLink]="['product', productId]">BUY NOW</a>
</div>
