<footer>
  <div class="container">
    <div class="footer-wrap">

      <div class="footer-link">
        <h4>Our Stories</h4>
        <p>Feel free to visit out stores or contact us</p>
        <p>
          Vinegade 109<br>
          5000 Odense<br>
          99886622
        </p>
        <p>
          Vestergade 910<br>
          9000 Aalborg<br>
          96231233
        </p>
        <span class="social-links"></span>
      </div>

      <div class="footer-link">
        <h4>Blog Posts</h4>
        <p class="footer-title">Lorem IKpsum Titel</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, neque.</p>
        <p class="footer-title">Lorem IKpsum Titel</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, neque.</p>
        <p class="footer-title">Lorem IKpsum Titel</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, neque.</p>
      </div>

      <div class="footer-link">
        <h4>Support</h4>
        <div class="footer-link-list">
          <div class="list-one">
            <a href="">Link1</a>
            <a href="">Link2</a>
            <a href="">Link3</a>
            <a href="">Link4</a>
            <a href="">Link5</a>
            <a href="">Link6</a>
            <a href="">Link7</a>
            <a href="">Link8</a>
            <a href="">Link9</a>
          </div>
          <div class="list-two">
            <a href="">Link1</a>
            <a href="">Link2</a>
            <a href="">Link3</a>
            <a href="">Link4</a>
            <a href="">Link5</a>
            <a href="">Link6</a>
            <a href="">Link7</a>
            <a href="">Link8</a>
            <a href="">Link9</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>