<div class="grid grid--container">

  <header>
    <div class="row">
      <div class="col col--sm-12 col--md-6 text--sm-center text--xs-center text--md-left logo">
        <img src="http://placehold.it/350x80" alt="">
      </div>

      <div class="col col--sm-12 col--md-6 text--md-right">
        <div class="row header-details row--lg-center">
            <div class="col col--lg-4 btn btn-link">1</div>
            <div class="col col--lg-4 btn btn-link">2</div>
            <div class="col col--lg-4 btn btn-link">3</div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row top-menu">
      <div class="col col--md-9">
        <!--.row>.btn.btn-link.col.col--md{nav $}*7-->
        <div class="row">
          <div class="btn btn-link col col--md">nav 1</div>
          <div class="btn btn-link col col--md">nav 2</div>
          <div class="btn btn-link col col--md">nav 3</div>
          <div class="btn btn-link col col--md">nav 4</div>
          <div class="btn btn-link col col--md">nav 5</div>
          <div class="btn btn-link col col--md">nav 6</div>
          <div class="btn btn-link col col--md">nav 7</div>
        </div>
      </div>
      <div class="col col--md-3 top-search text--md-right">
        <input type="search" name="" value="">
      </div>
    </div>

  </header>

</div>