<div class="container" id="contact-page">
    <div class="col-xs-12 col-sm-12 col-md-5">
        <h3>CONTACT US</h3>
      <form>
        <div class="input-group">
          <label for="name">NAME:</label>
          <input type="text" name="name" id="name" value="" placeholder="YOUR NAME...">
        </div>
        <div class="input-group">
          <label for="email">EMAIL:</label>
          <input type="text" name="email" id="email" value="" placeholder="YOUR E-MAIL...">
        </div>
        <div class="input-group text-area">
          <label for="message">MESSAGE:</label>
          <textarea rows="5" cols="50" name="message" id="message" placeholder="YOUR TEXT..."></textarea>
        </div>
        <br>
        <button class="btn-link">SEND MESSAGE</button>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1">
      IMAGE PLACE
    </div>
</div>
