<div class="top-products">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="assets/images/products/front/3.png" alt="">
        <h3>Football Shoes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, saepe, ea dolores molestias a aliquid!</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="assets/images/products/front/2.png" alt="">
        <h3>Modern Clothes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, saepe, ea dolores molestias a aliquid!</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="assets/images/products/front/1.png" alt="">
        <h3>Bags & Accessories</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, saepe, ea dolores molestias a aliquid!</p>
      </div>

    </div>
  </div>
</div>